    <div class="container">
        <h1>
            <%= title %> 
        </h1>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">
                            <a href="/business/add" id="addButton" class="btn btn-dark btn-sm mb-1"><i class="fas fa-plus-circle"></i> Add Contact</a>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for (let count = 0; count < business.length; count++) { %> 
                        <tr>
                            <th scope="row">
                                <%= count + 1 %> 
                            </th>
                            <td><%= business[count].name %> </td>
                            <td><%= business[count].phone %> </td>
                            <td><%= business[count].email %> </td>
                            <td><%= business[count].remarks %> </td>
                            <td class="text-center"> 
                                <!-- Modify & Remove Btn -->
                                <a href="/business/edit/<%= business[count]._id %>" class="btn btn-secondary btn-sm edit"><i class="fas fa-edit fa-sm"></i> EDIT </a>
                                <a href="/business/delete/<%= business[count]._id %>" class="btn btn-dark btn-sm edit"><i class="fas fa-edit fa-sm"></i> REMOVE</a>
                            </td>
                        </tr>
                        <% } %> 
                    </tbody>
                  </table>
            </div>
        </div>
    </div>